{% extends "peerShop/baseIndex.html" %}

{% load url from future %}
{% load widget_tweaks %}

{% block title %}Sign Up{% endblock %}

{% block activeSignup %} class="active" {% endblock %}

{% block container %}

<div class="starter-template">

    <h1>Sign Up</h1>

    <div class="lead">
        <p>Already have an account? Then please <a href="{{ login_url }}">log in</a>.</p>

        <form class="form-horizontal" role="form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.non_field_errors }}
            </div>
            {% for field in form %}
            <div class="form-group">
                {% if not field.is_hidden %}
                <label class="col-sm-3 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
                <div class="col-sm-5">
                {% render_field field class="form-control" %}
                {{ field.errors }}
                </div>
            </div>
            {% endfor %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <button type="submit" class="btn btn-default">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}


