{% extends "peerShop/baseIndex.html" %}
{% load staticfiles %}
{% block title %}Create New Listing{% endblock %}

{% block headIncludes %}
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="{% static 'css/blueimp-gallery.min.css' %}">
    <!-- Generic page styles -->
    <link rel="stylesheet" href="{% static 'css/style_upload.css' %}">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{% static 'css/jquery.fileupload-ui.css' %}">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="{% static 'css/jquery.fileupload-ui-noscript.css' %}"></noscript>

    <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{% endblock %}

{% block activeNew %} class="active"{% endblock %}
