{% extends "peerShop/baseIndex.html" %}

{% block title %}About{% endblock %}

{% block activeAbout %} class="active"{% endblock %}

{% block container %}

<div class="starter-template">
    <h1>About</h1>

    <div class="lead">
        <p>We want to make the world a more efficient place, and believe that everyone can make a difference.</p>
        <ul>
            <li>Cut out the middleman retailers</li>
            <li>Enjoy the convenience of buying local</li>
            <li>Only deal with trusted friends</li>
        </ul>

        <p>Start your peer-to-peer shopping experience today.</p>

    </div>
</div>

{% endblock %}