{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{{ site_name }}{% endblock %}</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/peershop.css' %}" rel="stylesheet">
    {% block headIncludes %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>


<body>

{% include 'peerShop/navbar.html' %}

{% block jumbotron %}{% endblock %}

<div class="container">
    {% block container %}


    {% endblock %}


    <footer>
        <hr>
        <table>
            <tr class="footer">
                <td><a href="{% url 'peerShop:guide' %}">User Guide</a></td>
                <td><a href="{% url 'peerShop:faq' %}">FAQ</a></td>
                <td><a href="{% url 'peerShop:contact' %}">Contact</a></td>
                <td><a href="{% url 'peerShop:terms' %}">Terms and Conditions</a></td>
            </tr>
        </table>
        <p>© {{ site_name }} 2014</p>
    </footer>


</div>
<!--/.container-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>

    //hack to get url in javascript
    function getUrl(url, arg) {

        if (url == 'peerShop:bid-update') {
            return "{% url 'peerShop:bid-update' 0 %}".slice(0,-1) + arg;
        } else if (url == 'peerShop:bid-delete') {
            return "{% url 'peerShop:bid-delete' 0 %}".slice(0,-1) + arg;
        } else if (url == 'peerShop:bid-new') {
            return "{% url 'peerShop:bid-new' %}";
        }
    }

</script>
<script src="{% static 'javascript/jquery-1.11.0.js' %}"></script>
{% block js %} <!-- js includes come afterwards, so that jquery can be used -->
{% endblock %}
<script src="{% static 'javascript/bootstrap.js' %}"></script>
<script src="{% static 'javascript/bid.js' %}"></script>
<script src="{% static 'javascript/search.js' %}"></script>
</body>
</html>