<div id="{{ bid.id }}-bid">
    <td>
        <p class="bid">Last Bid: ${{ bid.bidPrice }}
            <span class="glyphicon glyphicon-remove delete_cross" onclick="deleteBid({{bid.id}});"></span>
        </p>

        {% if bid.status == '-' %}
        <form method="post" action="" class="form-inline" role="form" id="{{ bid.id }}-update-form">
            <div class="input-group bid-input">
                <input name="bidPrice" class="form-control" type="text"
                       value="{{ bid.bidPrice }}"/>

        <span class="input-group-btn">
        <button type="button" onclick="updateBid({{ bid.id }});" class="btn btn-default">Bid</button>
        </span>
            </div>
            <input name="id" type="hidden" value="{{ bid.id }}">
            <input name="status" type="hidden" value="{{ bid.status }}">
            <input name="item" type="hidden" value="{{ bid.item.id }}">
        </form>
        {% endif %}
    </td>

    <td>-</td>

    {% if bid.status == 'Accepted' %}
    <td>
        <button class="btn btn-success">{{ bid.status }}</button>
    </td>
    {% elif bid.status == 'Declined' %}
    <td>
        <h4>{{ bid.status }}</h4>
    </td>
    {% endif %}

</div>