{% extends "peerShop/baseIndex.html" %} 

{% block title %}Contact{% endblock %}

{% block activeContact %} class="active"{% endblock %}

{% block container %}

      <div class="starter-template">
        <h1>Contact</h1>
          <div class="lead">
              <ul>
                  <li>Interested in developing this project?</li>
                  <li>Want to report a bug?</li>
                  <li>Requesting a new feature?</li>
              </ul>

        <p>Contact Wen Hao at <a href="mailto:luiwenhao@hotmail.com">luiwenhao@hotmail.com</a></p>
              </div>
      </div>

{% endblock %}